html {background-color: #f3f3f3;}

.titel {
    position: sticky;
    text-align: center;
    font-size: 30px;
    color: #333333;
    display: block;
    height: 5%;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.Change-page {
  position: relative;
  top: -10px;
  /* background-color: white; */
  width: calc(87.58px + 10px);
  height: calc(29px + 5px);
  font-size: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  border-radius: 6px 6px;
  font-family: "Cairo", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  transition-duration: 0.3s;
  transition-property: background-color;
  left: calc(100% - (87.58px + 10px + 10px));
}

.Change-page a {
  text-decoration: none;
  color: black;
}

.spaces {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 95%;
    height: 100%;
    left: 2.5%;
    top:  calc(-29px - 5px);
}

.input,
.result
  {
    /* position: absolute; */
    width: 100%;
    height: 330px;
    margin: 0;
    resize: none;
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    font-family: "Cairo", sans-serif;
    /* text-align: 100px; */
    word-spacing: 5px;
    letter-spacing: 6px;
    /* opacity: 60%; */
    color: rgb(145, 145, 145);
    text-align: justify;
    overflow: auto;
    font-size: 15px;

}

.result {
    min-height: 50px;
}

.result::-webkit-scrollbar {
  width: 100%;
  height: 5px;
}

.result::-webkit-scrollbar-thumb {
  background-color: rgb(220, 220, 220);
  border-radius: 10px 10px;
}

.result::-webkit-scrollbar-track {
  background-color: rgba(255, 0, 0, 0);
}

.spaces {
  padding-top: 10px;
}

.input-div{
    position: relative;
    margin-bottom: 50px;
    
}

button {
    width: 100px;
    height: 35px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.input::placeholder {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 20px;

}

.input::-ms-value {
    color: brown;
}


@media only screen and (max-width: 600px) {
  html {
    background-color: rgb(105, 15, 15);
  }
  
  .input,
.result {
  max-height: 250px;
  border: solid 0.25px;
  border-color: black;
  border-radius: 6px 0px 6px 6px;
  word-spacing: 1px;
  letter-spacing: 1px;
  
}

.input::placeholder {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 15px;

}

.result {
  background-color: white;
  border-radius: 6px;
}

.Change-page {
  background-color: #ffffff;
  border-radius: 6px 6px 0 0;
  top: 0px;
  left: 100%;
  left: calc(100% - (87.58px + 6px + 0px));
  box-shadow: none;
  z-index: 1;
  border: solid 0.25px;
  border-bottom: none;
  border-color: black;
}

.titel {
  font-size: 25px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px;
  
}

}
